$containerWidth:1110px;
$baseFontSize:16px;

$gray:#F5F5F5;
$blue: #F2F5F4;
$black:#292929;
$graydark:#666666;
$red:#E01F3D;

//bottom




@import "layout";
@import "normalize.css";
@import url("https://fonts.googleapis.com/css2?family=Play:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Alegreya+Sans&display=swap");



//header


@import "componets/header";
@import "componets/glavnaya";
@import "componets/pochemu";
@import "componets/shop";
@import "componets/team";
@import "componets/slider";
@import "componets/feedback";
@import "componets/video";
@import "componets/zacaz";
@import "componets/map";
@import "componets/footer";
@import "componets/paginator";
@import "componets/figura";





 /*@import"common";*/
  
 //@import "adaptive";
  
 @media (max-width:1100px){
  html{font-size: 14px;}
  .container{max-width: 700px;
  }
 
}


@media (max-width:768px){
  html{font-size: 13px;}
  .container{ 
    max-width: 800px;
    flex-direction: column;
  }

  .menu,.contacts{
    display: none;

  }

  .gamburger{
    display: block;
    width: 30px;
    height: 30px;
   
 }

 .header__mobile{
  display: flex;
  justify-content:space-between;
  width: 100%;
  
  min-width: 730px;
}


  //.glavnaya__pictures{
   // }

  .container__glavnaya{
    flex-direction: column-reverse;
    min-width: 0;   //при адаптиве обнуляем мин ширину обертки
    max-width: 450px;  //ьфксимальную делаем меньше следующего медиа запроса
    width: auto;  
  }
 
  .glavnaya__pictures{
    width: 100%;
  }
  
}






@media (max-width:480px){
 html{font-size: 12px;}
  .header{
    margin-left: 0;
  }
 .container{ 
   max-width: 480px;
   min-width: 320px;
  flex-direction: column;
 }
 .menu,.contacts{
  display: none;
}

.gamburger{
  display: block;
 
}

.header__mobile{
  display: flex;
  justify-content:space-between;
  width: 100%;
  
  min-width: 450px;
}


.container__glavnaya{
  flex-direction: column-reverse; 
  min-width: 0;   //при адаптиве обнуляем мин ширину обертки
  max-width: 200px; 
  width: auto;  
}

.glavnaya__pictures{
  width: 100%;
}
 

}
