
.shop{
    display: flex;
    align-items: center;
    padding: 65px 50px;
    justify-content: center;
    height: 100vh;
  
  }
  
  .triegle__black__one{
    border: transparent solid 30px;
    border-right: black solid 30px;
    border-left-width: 0;
    height: 0;
    width: 0;
    margin-right: 10px;
    position: relative;
    
  }
  
  .triegle__black__one:after{
    content: "";
    border: transparent solid 30px;
    border-right: #F8FAF9 solid 30px;
    border-left-width: 0;
    height: 0;
    width: 0;
    position: absolute;
    top:-30px;
    left: 2px;
  }
  
  
  .triegle__black__two{
    border: transparent solid 30px;
    border-left: black solid 30px;
    border-right-width: 0;
    height: 0;
    width: 0;
    margin-left: 10px;
    position: relative;
  }
  
  .triegle__black__two:after{
    content: "";
    border: transparent solid 30px;
    border-left: #F8FAF9 solid 30px;
    border-right-width: 0;
    height: 0;
    width: 0;
    position: absolute;
    top:-30px;
    left: -32px;
  }
  
  
  
  
  .shop__pictures{
  /*overflow-x:  hidden;*/ 
  margin-right: 60px;
  border-radius: 50%;
  max-width: 450px;
  max-height: 450px;
  }
  
  
  .container__vipad{                        /*ВЫПАДКАШКА С КОЛЕСИКОМ*/
  content: "";
  width: 90px;
  height: 90px;
  background: #9A9A9A;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  
  }
  
  .vipad{
    position: relative; 
  }
  
  .dropdown{
    position: absolute;
    display: none;
    margin-top: -90px;
    margin-left: 90px;
  }
  
  .vipad:hover .dropdown{
    display: block;
  }
  
  .container__vipad__one{
  content: "";
  width: 270px;
  height: 300px;
  padding: 10px 30px;
  background: rgb(172, 155, 155);
  border-radius: 4px;
  }
  
  .vipad__list{
    flex-direction: column;
    display: flex;
    justify-content: space-between;
  }
  
  .vipad__title{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .vipad__desk{
    display: flex;
    justify-content: flex-start;
    width: 170px;
    align-items: center;
  }
  
  .vipad__desk__one{
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: #000000;
  }
  
  .vipad__picture{
  height: 25px;
  width: 25px;
  margin-right: 15px;
  }
  
  
  
  .shop__box{
    margin-top: 25px;
    width: 420px;
  }
  
  .shop__text{
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
  text-transform: uppercase;
  color: #292929;
  }
  
  .shop__desk{
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #666666;
  }
  
  .shop__content{
    margin-left: 20px;
  }
  
  
  
  .shop__list{
    display: flex;
    margin-top: 30px;
  }
  
  .shop__item{
    display: flex;
    flex-direction: column;
    margin-right: 90px;
  }
  
  
  .shop__item:last-child{
    margin-right: 0px;
  }
  
  .shop__title{
    margin-bottom: 0px;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: #666666;
    
  
  }
  
  .shop__title-one{
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;
    color: #000000;
    margin-top: 0px;
  }
  
  
  .container__cost{
    display: flex;
    align-items: center;
    
  }
  
  .cost{
    margin-right: 15px;
  }
  
  
  .shop__cost{
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 60px;
    text-transform: uppercase;
    color: #151515;
    
  }
  
  
  .shop__button{
    border: solid 1px transparent;
    border-radius: 100px;
    height: 55px;
    width: 165px;
    background: #E01F3D;
    padding: 20px  40px;
    color: #FFFFFF;
    display: flex;
    align-items: center;
    
  }
  
  .shop__button:hover{
    background: #CA1B36;
    border: solid 1px #CA1B36;
  }
  
  
  /*.shop__button{
  @include btn;
  }*/